.Order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 1rem;
  margin: 1rem 0;
}
.Order p {
  margin: 0.2rem 0;
}

.Order li {
  padding: 0.4rem 0;
}
.OrderIngredient {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .Order {
    flex-direction: column-reverse;
  }
}
