.burger {
  width: 30rem;
  height: 30rem;
  margin: auto;
  text-align: center;
  overflow: scroll;
  font-size: 20px;
  font-weight: bold;
}
.burger p {
  padding: 1rem;
}

@media screen and (max-width: 720px) {
  .burger {
    width: 20rem;
    height: 24rem;
    font-size: 15px;
  }
}
